html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}


/*---Star screen---*/

#start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
  z-index: 9999;
}

#btn-start {
  background-color: #3498db;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


/*---Oxygen Bar---*/

#oxygen-container {
  position: absolute;
  bottom: 9cm;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#oxygen-bar {
  display: none;
  width: 50%;
  height: 10px;
  background-color: #0f0;
}